
/* font-family: 'Cormorant Garamond',
serif;

font-family: 'Noto Serif JP',
serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* estilos del titulo */

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20% 0;
    height: 100%;
}

ul li {
    list-style: none;
}

ul i {
    color: white;
    font-size: 35px;
    margin-top: 80px;
    animation-name: animacion-flecha;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animacion-flecha {
    0% { top:0 }
    50% { top:40px }
    100% { top:0 }
}

h1 {
    font-size: 50px;
    color: white;
    font-family: 'Cormorant Garamond',
        serif;
}

h4 {
    font-size: 20px;
    color: white;
    font-family: 'Noto Serif JP',
        serif;
}

.simbolo {
    margin-bottom: 25px;
    width: 100px;
}

/* estilos de la galeria */

 img {
    width: 100%;
    margin-top: 10px;
}

.row {
    display: flex;
    padding: 15px;
    overflow: hidden;
}

.column {
    flex: 25%;
    padding: 5px;
}

/* estilos de dragon */

.dragon {
    margin-bottom: 250px;
    margin-top: 180px;
    border: double 10px white;
}

.serpiente {
    margin: 0;
}

/* estilos de arte tradicional */

h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Cormorant Garamond',
        serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.acordion {
    display: flex;
    height: 510px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.acordion img {
    width: 0;
    height: 500px;
    flex-grow: 1;
    opacity: 0.4;
    object-fit: cover;
    transition: 1s ease;
}

.acordion img:hover {
    width: 100px;
    opacity: 1;
    filter: contrast(120%);
}

.carrusel {
    display: none;
    flex-wrap: nowrap;
    overflow: scroll;
}

.elemento {
    flex: 1 0 auto;
    margin: 0 50px;
    width: auto;
    height: 500px;
}

/* estilos de leyendas urbanas */

.urban-leyends {
    margin-top: 80px;
    margin-bottom: 50px;
}

.overlay {
    display: flex;
    width: 80%;
}

.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 75px 30px 75px;
}

.box img {
    width: 100%;
    height: 100%;
    margin: 0;
}

h3 {
    font-size: 32px;
}

.text {
    font-family: 'Cormorant Garamond',
        serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: scale(0);
    transition: 0.8s ease;
}

.box:hover .text{
    transform: scale(1);
}

button {
    background-color: transparent;
    font-family: 'Cormorant Garamond',
        serif;
    color: white;
    border: none;
    padding: 0 10px;
    font-size: 18px;
}

button:hover {
    border: solid 1px white;
}

/* estilos de leyendas mas informacion */

.leyendas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leyendas-titulo {
    margin-top: 80px;
}

p {
    font-family: 'Cormorant Garamond',
        serif;
    font-size: 25px;
    margin-top: 70px;
    color: white;
    text-align: center;
}

.leyenda-boton {
    font-size: 25px;
    margin: 80px 0;
    border: solid 1px white;
}

.leyenda-boton:hover {
    color: black;
    background-color: white;
}

/* estilos de mobile */

@media  (max-width: 576px) {

    /* estilos del titulo */

    ul {
        padding-left: 0;
        height: 800px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 18px;
    }

    .simbolo {
        width: 0px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 28px;
    }

    /* estilos de galeria */

    .row { 
       padding: 15px;
       margin: 0;
    }

    .column {
        flex: 50%;
    }

    /* estilos de acordion */

    .acordion {
        display: none;
    }

    .carrusel {
        display: flex;
    }

    /* estilos de leyendas urbanas */

    .overlay {
        flex-direction: column;
    }

    .box {
        margin: 0 8px 20px 8px;
    }

    .text {
        margin-top: 10px;
        position: static;
        transform: none;
        transition: none;
        background-color: transparent;
    }

    button {
        border: solid 1px white;
    }

    .leyenda-boton:hover {
        color: white;
        background-color: black;
    }

}