
/* font-family: 'Cormorant Garamond',
serif;

font-family: 'Noto Serif JP',
serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    overflow-x: hidden;
}

/* estilos del titulo */

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    height: 700px;
}

ul li {
    list-style: none;
}

ul i {
    color: white;
    font-size: 35px;
    margin-top: 80px;
    animation-name: animacion-flecha;
    animation-duration: 2s;
    position: relative;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animacion-flecha {
    0% { top:0 }
    50% { top:40px }
    100% { top:0 }
}

h1 {
    font-size: 50px;
    color: white;
    font-family: 'Cormorant Garamond',
        serif;
}

h4 {
    font-size: 20px;
    color: white;
    font-family: 'Noto Serif JP',
        serif;
}

.simbolo {
    margin-bottom: 25px;
    width: 100px;
}

/* estilos de la galeria */

 img {
    width: 100%;
    margin-top: 10px;
}

.row {
    display: flex;
    padding: 15px;
    overflow-x: hidden;
}

.column {
    flex: 25%;
    padding: 5px;
}

/* estilos de dragon */

.dragon {
    margin-bottom: 250px;
    margin-top: 180px;
    border: double 10px white;
}

.serpiente {
    margin: 0;
}

/* estilos de arte tradicional */

h2 {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Cormorant Garamond',
        serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.acordion {
    display: flex;
    height: 510px;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.acordion img {
    width: 0;
    height: 500px;
    flex-grow: 1;
    opacity: 0.4;
    object-fit: cover;
    transition: 1s ease;
}

.acordion img:hover {
    width: 110px;
    opacity: 1;
    filter: contrast(120%);
}

/* estilos de leyendas urbanas */

.urban-leyends {
    margin-top: 80px;
    margin-bottom: 50px;
}

.overlay {
    display: flex;
    width: 80%;
}

.box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 80px 30px 80px;
}

.box img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.text {
    font-family: 'Cormorant Garamond',
        serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transform: scale(0);
    transition: 0.8s ease;
}

.box:hover .text{
    transform: scale(1);
}

/* estilos de mobile */

@media  (max-width: 576px) {
    
    ul {
        padding-left: 0;
        height: 900px;
    }

    h1 {
        font-size: 40px;
    }

    h4 {
        font-size: 18px;
    }

    .simbolo {
        width: 55px;
    }

    ul i {
        color: transparent;
        animation-name: none;
    }
}